<hr class="border-top border-danger mt-0 mb-0">
<footer class="footer pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
                <div class="footer-widget">
                    <a class="navbar-brand font-weight-bold" routerLink="/"><img src="/assets/images/logo-hseq.png"
                            height="50" alt="Logo" /></a>
                    <br><br>
                    <div class="">

                        <p class="mb-0"><a class="text-dark"
                                href="https://www.google.com/maps/place/Alturas+hseq/@4.6771649,-74.1511989,21z/data=!4m5!3m4!1s0x8e3f9d09c475aa17:0x4fb10907a860ce00!8m2!3d4.6772007!4d-74.1511279"
                                target="_blank"><span class="material-symbols-outlined">pin_drop</span><strong> Carrera
                                    108 #16i-18, Fontibón, Bogotá D.C.,CO</strong></a></p>
                        <p class="mb-0 text-dark"><span class="material-symbols-outlined">mail</span><strong>
                                info@consultoriaycapacitacionhseq.com</strong></p>
                        <p class="mb-0 text-dark"><span class="material-symbols-outlined">call</span><strong> (+601) 756
                                4015</strong></p>
                        <p class="mb-0"><a class="text-dark" href="https://wa.me/573208478623" target="_blank"><span
                                    class="material-symbols-outlined">perm_phone_msg</span><strong> (+57) 320 847
                                    8623</strong></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                    <h4 class="mb-4">Enlaces</h4>
                    <ul class="pl-0 list-unstyled mb-0">
                        <li><a routerLink="/" class="text-dark"><span class="material-symbols-outlined">check</span>
                                Inicio</a></li>
                        <li><a routerLink="/about-us" class="text-dark"><span
                                    class="material-symbols-outlined">check</span> Nosotros</a></li>
                        <li><a routerLink="/shop" class="text-dark"><span class="material-symbols-outlined">check</span>
                                Cursos</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                <div class="footer-widget">
                    <h4 class="mb-4">Horarios de atención</h4>
                    <ul class="pl-0 list-unstyled mb-5">
                        <li class="d-lg-flex justify-content-between">Lunes a Viernes <span>08:00 - 05:00</span></li>
                        <li class="d-lg-flex justify-content-between">Sábados <span>08:00 - 01:00</span></li>
                    </ul>
                    <span class="material-symbols-outlined">
                    </span>
                    <h5><a href="https://wa.me/573208478623" target="_blank">WhatsApp: +(57) 320-847 8623</a></h5>
                </div>
            </div>
        </div>
    </div>
</footer>

<hr class="border-top border-danger mt-0 mb-0">

<div class="footer-btm py-4 ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <p class="copyright mb-0 ">Copyright &copy; 2023 <a href="https://consultoriaycapacitacionhseq.com/"
                        target="_blank">Consultoría y capacitación HSEQ</a> | Todos los derechos reservados.</p>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                    <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
                    <li class="list-inline-item"><a href="#">Terminos &amp; Condiciones</a></li>
                    <li class="list-inline-item"><a href="#">Política de cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>