<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Detalle de los cursos</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
              <li class="breadcrumb-item"><a routerLink="/shop">Cursos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle de los cursos</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div class="carousel slide" data-ride="carousel" id="single-product-slider">
            <div class="carousel-inne">
              <div class="active">
                <img src="assets/images/1.webp" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>Curso de Auxiliar de Tránsito</h2>
          <div class="sku_wrapper mb-4">
            ID: <span class="text-muted">C-HSEQ-01</span>
          </div>

          <hr>

          <h3 class="product-price">Ahora $70.000 <del>Antes $100.000</del></h3>

          <p class="product-description my-4 ">
            En este curso se adquieren conocimientos frente a Planes de Manejo de Tránsito - PMT, señales, normas de
            tránsito y prelación en la vía.
            Esta capacitación es exigida en los frentes de obra por la Resolución 1885 de 2015 - Manual de Señalización
            Vial expedido por el Ministerio de Transporte.
          </p>

          <form class="cart" action="#" method="post">
            <div class="quantity d-flex align-items-center">
              <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9"
                name="quantity" value="1" title="Qty" size="4">
              <a href="#" class="btn btn-main btn-small">Añadir al carrito</a>
            </div>
          </form>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Descripción</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Características del curso</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false">Reseñas(2)</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p class="text-dark">El Auxiliar de Tránsito es responsable de la seguridad de los usuarios de la vía, por
              lo que debe ser
              seleccionado cuidadosamente, debiendo cumplir, a lo menos, con los siguientes requisitos:</p>
            <ol style="list-style-type:lower-alpha">
              <li>Debe haber terminado mínimo el ciclo de educación primaria.</li>
              <li>Haber aprobado una capacitación y entrenamiento con certificado físico que lo habilite como Auxiliar
                de Tránsito para obras en vías.</li>
              <li>Poseer buenas condiciones físicas y visión y audición compatibles con sus labores a desarrollar,
                aceptándose que estos aspectos puedan estar
                corregidos por dispositivos tales como lentes o audífonos.</li>
              <li>Contar con aptitudes adecuadas de comportamiento ciudadano.</li>
              <li>Debe tener sentido de responsabilidad por la seguridad de los transeúntes
                y ser capaz de reconocer situaciones peligrosas..</li>
            </ol>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <ul class="list-unstyled info-desc">
              <li class="d-flex">
                <strong>Intesidad horaria </strong>
                <span>8 horas</span>
              </li>
              <hr>
              <li class="d-flex">
                <strong>Modalidad </strong>
                <span>Presencial o virtual</span>
              </li>
              <hr>
              <li class="d-flex">
                <strong>Contenido programatico </strong>
                
                  <ul>
                    <li>Definiciones</li>
                    <li>Introducción</li>

                  </ul>
                
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
              <div class="col-lg-7">
                <div class="media review-block mb-4">
                  <img src="assets/images/avatar-01.png" alt="reviewimg" class="img-fluid mr-4">
                  <div class="media-body">
                    <div class="product-review">
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                    </div>
                    <h6>Juan José González<span class="text-sm text-muted font-weight-normal ml-3">-Enero 03,
                        2023</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in,
                      perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                  </div>
                </div>

                <div class="media review-block">
                  <img src="assets/images/avatar-02.png" alt="reviewimg" class="img-fluid mr-4">
                  <div class="media-body">
                    <div class="product-review">
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star-outline"></i></span>
                    </div>
                    <h6>Carlos Alberto Sánchez<span class="text-sm text-muted font-weight-normal ml-3">-Febrero 20,
                        2022</span></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in,
                      perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-5">
                <div class="review-comment mt-5 mt-lg-0">
                  <h4 class="mb-3">Agrega una reseña</h4>

                  <form action="#">
                    <div class="starrr"></div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                      <textarea name="comment" id="comment" class="form-control" cols="30" rows="4"
                        placeholder="Reseña"></textarea>
                    </div>

                    <a routerLink="/product-single" class="btn btn-main btn-small">Enviar reseña</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>Cursos recomendados</h2>
          <p>Los cursos más solicitados por las empresas.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/7.webp"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/7.7.png"
                alt="product-img" /></a>
          </div>

          <span class="onsaleDetails">Oferta</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-1"><a routerLink="/product-single">Curso de Manejo Defensivo, Seguridad Vial
                y Normas de Tránsito</a></h2>
            <span class="price">
              $80.000
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/4.webp"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/4.4.png"
                alt="product-img" /></a>
          </div>

          <span class="onsale">Oferta</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Curso Básico Obligatorio para Conductores
                que Transportan Mercancías Peligrosas</a></h2>
            <span class="price">
              $250.000
            </span>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/3.webp"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/3.3.png"
                alt="product-img" /></a>
          </div>

          <span class="onsale">Oferta</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-4"><a routerLink="/product-single">Capacitación al Comité de Seguridad
                Vial</a></h2>
            <span class="price">
              $75.000
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/1.webp"
                alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/1.1.png"
                alt="product-img" /></a>
          </div>

          <span class="onsaleDetails">Oferta</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-4"><a routerLink="/product-single">Curso de Mecánica Básica y Alistamiento
                Vehicular</a></h2>
            <span class="price">
              $70.000
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>