<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Tablero</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tablero</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="border-top border-danger mt-0 mb-0">
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link active" routerLink="/dashboard">Tablero</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/order">Pedidos</a>
                </div>
                <!-- <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Descargas</a>
                </div> -->
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/address">Dirección</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Detalles del perfil</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/">Cerrar sesión</a>
                </div>
            </div>

            <div class="col-12 col-md-7 col-sm-12 col-lg-9">
                <p>Hola Carlos Alberto (¿No eres Carlos Alberto? <a routerLink="/">Cerrar sesión</a>)</p>Desde el panel
                de control de su cuenta puede ver sus <a href="#">pedidos recientes</a>, gestionar sus
                <a href="#">direcciones de envío y facturación</a> y <a href="#">modificar su contraseña y los datos de
                    su cuenta</a>.

            </div>
        </div>
    </div>
</section>