<div class="account section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-form border border-danger p-5">
                    <div class="text-center heading">
                        <h3 class="mb-2 h2">Recuperar contraseña</h3>
                        <p class="lead">Introduzca la dirección de correo electrónico de su cuenta. Se le enviará un
                            código de verificación. Una vez que haya recibido el código de verificación, podrá elegir
                            una nueva contraseña para su cuenta.</p>
                    </div>

                    <form action="#">
                        <div class="form-group mb-4">
                            <label for="#">Introduzca la dirección de correo electrónico</label>
                            <input type="text" class="form-control border border-danger" placeholder="Ej.: ejemplo@gmail.com">
                        </div>
                        <a href="#" class="btn btn-main mt-3 btn-block">Recuperar contraseña</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>