<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Dirección</h1>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                            <li class="breadcrumb-item"><a routerLink="/address">Direccion</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Editar direccion</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="border-top border-danger mt-0 mb-0">
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/dashboard">Tablero</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/order">Pedidos</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link active" routerLink="/address">Dirección</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/profile-details">Detalles del perfil</a>
                </div>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" routerLink="/">Cerrar sesión</a>
                </div>
            </div>

            <div class="col-12 col-md-7 col-sm-12 col-lg-9">
                <div class="acccount-settings">
                    <h4 class="mb-4">Editar dirección</h4>
                    <form action="#">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>País</label>
                                    <input type="text" class="form-control" placeholder="Ej.: Colombia">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" class="form-control" placeholder="Ej.: Bogotá D.C.">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label>Dirección</label>
                            <textarea class="form-control" name="address" id="address" placeholder="Ej.: Avenida siempre viva"></textarea>
                        </div>
                        <button class="btn btn-dark" routerLink="/address">Guardar cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>