<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
    <div ngxSlickItem class="slider-item img-fluid" style="background-image:url('assets/images/slider-1.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
                    <div class="slider-caption">
                        <span class="lead">Curso de Manejo Defensivo, Seguridad Vial y Normas de Tránsito </span>
                        <h1 class="mt-2 mb-5"><span class="text-color">5%</span> de descuento</h1>
                        <a href="#" class="btn btn-main">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem class="slider-item img-fluid" style="background-image:url('assets/images/slider-2.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
                    <div class="slider-caption">
                        <span class="lead">Curso de Mecánica Básica y Alistamiento Vehicular</span>
                        <h1 class="mt-2 mb-5"><span class="text-color">5%</span> de descuento</h1>
                        <a href="#" class="btn btn-main">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem class="slider-item img-fluid"
        style="background-image:url('assets/images/slider-3.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
                    <div class="slider-caption">
                        <span class="lead">Capacitación al Comité de Seguridad Vial</span>
                        <h1 class="mt-2 mb-5"><span class="text-color">5%</span> de descuento</h1>
                        <a href="#" class="btn btn-main">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>
<hr class="border-top border-danger mt-0 mb-0">
<section class="products-main pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="title text-center">
                    <h2>Los más destacados</h2>
                    <p>Los mejores cursos online para comprar este fin de semana.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                                src="assets/images/1.webp" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second"
                                src="assets/images/1.1.png" alt="product-img" /></a>
                    </div>

                    <span class="onsale">Oferta</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-5"><a href="#">Curso de Auxiliar de Tránsito</a></h2>
                        <span class="price">
                            $70.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                                src="assets/images/2.webp" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second"
                                src="assets/images/2.2.png" alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a href="#">Curso de Transporte de Cargas Indivisibles, Extrapesadas y Extradimensionadas</a></h2>
                        <span class="price">
                            $100.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                                src="assets/images/3.webp" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second"
                                src="assets/images/3.3.png" alt="product-img" /></a>
                    </div>

                    <span class="onsale">Oferta</span>
                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-4"><a href="#">Capacitación al Comité de Seguridad Vial</a></h2>
                        <span class="price">
                            $75.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                                src="assets/images/4.webp" alt="product-img" /></a>
                        <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second"
                                src="assets/images/4.4.png" alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-1"><a href="#">Curso Básico Obligatorio para Conductores que Transportan Mercancías Peligrosas</a></h2>
                        <span class="price">
                            $250.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/5.webp"
                                alt="product-img" /></a>
                        <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/5.5.png"
                                alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a href="#">Curso de Seguridad Vial para Conductores de Servicio Público</a></h2>
                        <span class="price">
                            $60.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
                <div class="product">
                    <div class="product-wrap">
                        <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/6.webp"
                                alt="product-img" /></a>
                        <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/6.6.png"
                                alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a href="#">Curso de Seguridad Vial para Conductores de Transporte Especial</a></h2>
                        <span class="price">
                            $60.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 ">
                <div class="product">
                    <div class="product-wrap">
                        <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/7.webp"
                                alt="product-img" /></a>
                        <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/7.7.png"
                                alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-0"><a href="#">Curso de Manejo Defensivo, Seguridad Vial y Normas de Tránsito</a></h2>
                        <span class="price">
                            $80.000
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5 ">
                <div class="product">
                    <div class="product-wrap">
                        <a href="#"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/8.webp"
                                alt="product-img" /></a>
                        <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/8.8.png"
                                alt="product-img" /></a>
                    </div>

                    <div class="product-hover-overlay">
                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                        <a href="#"><i class="tf-ion-ios-heart"></i></a>
                    </div>

                    <div class="product-info">
                        <h2 class="product-title h5 mb-3"><a href="#">Curso de Operación Segura de Maquinaria Amarilla</a></h2>
                        <span class="price">
                            $120.000
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><hr class="border-top border-danger">
<section class="section products-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center">
                <img src="assets/images/CELULAR_1.png" alt="Product big thumb" class="responsive_new">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="widget-featured-entries mt-5 mt-lg-0">
                    <h4 class="mb-4 pb-3 border-bottom border-danger">Los más vendidos</h4>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" routerLink="/product-single">
                            <img src="assets/images/1.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Auxiliar de Tránsito</a></h6>
                            <p class="featured-entry-meta">$70.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/2.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Transporte de Cargas Indivisibles</a></h6>
                            <p class="featured-entry-meta">$100.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/3.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Capacitación al Comité de Seguridad Vial</a></h6>
                            <p class="featured-entry-meta">$75.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/4.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso Básico Obligatorio para Conductores que Transportan Mercancías Peligrosas</a></h6>
                            <p class="featured-entry-meta">$250.000</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/5.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Seguridad Vial para Conductores de Servicio Público</a></h6>
                            <p class="featured-entry-meta">$60.000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="widget-featured-entries mt-5 mt-lg-0">
                    <h4 class="mb-4 pb-3 border-bottom border-danger">Nuevos cursos</h4>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" routerLink="/product-single">
                            <img src="assets/images/6.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Seguridad Vial para Conductores de Transporte Especial</a></h6>
                            <p class="featured-entry-meta">$60.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/7.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Manejo Defensivo, Seguridad Vial y Normas de Tránsito</a></h6>
                            <p class="featured-entry-meta">$80.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/8.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Operación Segura de Maquinaria Amarilla</a></h6>
                            <p class="featured-entry-meta">$120.000</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/9.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Mecánica Básica y Alistamiento Vehicular</a></h6>
                            <p class="featured-entry-meta">$150.000</p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="featured-entry-thumb" href="#">
                            <img src="assets/images/10.webp" alt="Product thumb" width="64" class="img-fluid mr-3">
                        </a>
                        <div class="media-body">
                            <h6 class="featured-entry-title mb-0"><a href="#">Curso de Monitora de Ruta Escolar</a></h6>
                            <p class="featured-entry-meta">$70.000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features border-top border-danger">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="feature-block">
                    <i class="tf-desktop"></i>
                    <div class="content">
                        <h5>Plataforma adaptable</h5>
                        <p>Realiza los cursos desde cualquier dispositivo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="feature-block">
                    <i class="tf-puzzle"></i>
                    <div class="content">
                        <h5>Cursos intuitivos </h5>
                        <p>Fáciles de realizar e intuitivos para cualquier persona.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="feature-block">
                    <i class="tf-key"></i>
                    <div class="content">
                        <h5>Pago seguro</h5>
                        <p>100% Protegido.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="feature-block">
                    <i class="tf-clock"></i>
                    <div class="content">
                        <h5>Soporte 24/7</h5>
                        <p>Atención al cliente en todo momento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>